
<!DOCTYPE html>
<html>
    <head>
        <title>GenQ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div class="header">
            <h2>Welcome to</h2>
            <h1>GenQ</h1>
        </div>
        <div id="quiz_form" class="form-container">
            <label for="quizType">Quiz Type:</label>
            <select id="quizType" name="quizType" onchange="changeQuizType()">
                <option value="quiz">Practice Quiz</option>
                <option value="study guide">Study Guide</option>
            </select>
            <br><br>
            <p id="formQuestion">What material do you want in your quiz?</p>
            <label for="subject">Subject:</label>
            <select id="subject" name="subject" onchange="changeSubject()">
                <option value="" id="subjPlaceholder">Select a Subject</option>
                <!-- Subjects will be populated here -->
            </select>
            <br><br>
            <label for="topic">Topic:</label>
            <select id="topic" name="topic" onchange="changeTopic()" disabled>
                <option value="" id="topPlaceholder">Select a Topic</option>
                <!-- Topics will be populated here -->
            </select>
            <br><br>
            <label for="subtopic">Subtopic:</label>
            <select id="subtopic" name="subtopic" onchange="changeSubtopic()" disabled>
                <option value="" id="subPlaceholder">Select a Subtopic</option>
                <!-- Subtopics will be populated here -->
            </select>
            <br><br>

            <label for="specificCheckbox">Wanna get MORE specific?</label>
            <input type="checkbox" id="specificCheckbox" onclick="toggleConcept()"><br><br>
            <label id="conceptLbl">Specific Concept:</label>
            <input type="text" id="concept" name="concept"><br><br>
            <label id="numQuestionsLbl">Number of Questions:</label>
            <input type="number" id="numQuestions" name="numQuestions" value="2"><br><br>
            <button type="submit" class="submit-btn" onclick="submitForm()">Submit</button>
        </div>
        <p id="loader" class="loader" style="display: none;"></p>
        <div id="studyGuideText" class="content"></div>
        <div id="quizText" class="content"></div>
    </body>
</html>